@media screen and (min-width: 325px) {
    body {
        overflow-x: hidden;
        font-family: 'Montserrat', sans-serif;
    }
    form {
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 20% 5% 35% 25% 15%;
        grid-template-areas: ". contact contact ." ". email email ." ". comments comments ." ". checkboxes checkboxes ." ". bubbles bubbles .";
        width: 100vw;
        height: 100vh;
    }
    .contact {
        text-align: center;
        grid-area: contact;
        margin: auto;
    }
    .email {
        grid-area: email;
        margin: auto;
    }
    .comments {
        grid-area: comments;
        margin: auto;
    }
    .checkboxes {
        grid-area: checkboxes;
        margin: auto;
    }
    .bubbles {
        grid-area: bubbles;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
        font-family: 'Montserrat', sans-serif;
    }
    form {
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 20% 5% 35% 25% 15%;
        grid-template-areas: ". contact contact ." ". email email ." ". comments comments ." ". checkboxes checkboxes ." ". bubbles bubbles .";
        width: 100vw;
        height: 100vh;
    }
    .contact {
        text-align: center;
        grid-area: contact;
        margin: auto;
    }
    .email {
        grid-area: email;
        margin: 0 35%;
    }
    .comments {
        grid-area: comments;
        margin: 0 35%;
    }
    .checkboxes {
        grid-area: checkboxes;
        margin: 0 35%;
    }
    .bubbles {
        grid-area: bubbles;
        margin: 0 35% 15%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        overflow-x: hidden;
        font-family: 'Montserrat', sans-serif;
    }
    form {
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 20% 5% 35% 25% 15%;
        grid-template-areas: ". contact contact ." ". email email ." ". comments comments ." ". checkboxes checkboxes ." ". bubbles bubbles .";
        width: 100vw;
        height: 100vh;
    }
    .contact {
        text-align: center;
        grid-area: contact;
        margin: auto;
    }
    .email {
        grid-area: email;
        margin: 0 35%;
    }
    .comments {
        grid-area: comments;
        margin: 0 35%;
    }
    .checkboxes {
        grid-area: checkboxes;
        margin: 0 35%;
    }
    .bubbles {
        grid-area: bubbles;
        margin: 0 35% 15%;
    }
}